body {
    margin: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    font-size: 18px;
    color: #E5E7Eb;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
}

img {
    height: auto;
    width: auto;
    border-radius: 10px;
    border-color: blue;
    height: auto;
    width: 300px;
}

.content {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    flex: 1;
    align-items: center;
    padding: 48px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    justify-content: center;

}

.main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.caption {
    font-size: 18px;
    color: #E5E7Eb
}

.sign {
    color: white;
    background-color: blue;
    width: 100px;
    border-radius: 10px;
    background-color: #3882F6;
}

.placeholder {
    height: 200px;
    width: 200px;
    background-color: #E5E7Eb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8px;  
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    padding: 48px;
}

.paragraph {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 48px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 18px;
}

.images {
    display: flex;
    justify-content: space-around;
    gap: 8px;
    flex-wrap: wrap;
    flex: 1;
    text-align: center;
    padding: 18px;

}

.fourth {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    background-color: #E5E7Eb;
    padding: 100px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
    padding: auto;
}

.quoter {
    display: flex;
    align-items: flex-end;
    font-size: 36px;
    font-style: italic;
    color:#1F2937
}

.sign-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    padding: 30px;
    margin: 80px;
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
}

.call {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 12px;
}

.footer {
    background-color: #1F2937;
    color:#E5E7Eb;
    display: flex;
    justify-content: center;
    align-items: center;
}
